/target/
/bin/
/.settings/
/.metadata/
.classpath
.project
C:\Users\Gusta\Documents\GitHub\Java\PrimeFaces\curso-primefaces\pom.xml
\PrimeFaces\curso-primefaces\pom.xml
/curso-primefaces/pom.xml
/pom.xml
pom.xml
/build/
